# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore config files and environment variables
config.py
.env

# Ignore IDE files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore other common files/folders
.DS_Store
*.egg
*.egg-info
.installed.cfg
*.mo
*.pot
